auto_mix_prep==0.2.0
cloudpickle==2.0.0
commentjson==0.9.0
Cython==0.29.25
matplotlib==3.5.0
numpy==1.21.4
ordered_set==4.0.2
periodictable==1.6.0
PyInstaller==4.9
PyQt5==5.15.6
pytest==7.0.1
scipy==1.7.3
setuptools==59.5.0
